@font-face {
  font-family: "iconfont"; /* Project id 3805249 */
  src: url('//at.alicdn.com/t/c/font_3805249_9z1m2mrbbkv.woff2?t=1670160741604') format('woff2'),
       url('//at.alicdn.com/t/c/font_3805249_9z1m2mrbbkv.woff?t=1670160741604') format('woff'),
       url('//at.alicdn.com/t/c/font_3805249_9z1m2mrbbkv.ttf?t=1670160741604') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e611";
}

.icon-email:before {
  content: "\e601";
}

.icon-password:before {
  content: "\e606";
}

.icon-arrowright1:before {
  content: "\e603";
}

.icon-rainbow:before {
  content: "\eceb";
}

.icon-setting-fill:before {
  content: "\e871";
}

.icon-github:before {
  content: "\e673";
}

.icon-log-in:before {
  content: "\e633";
}

.icon-search:before {
  content: "\e82e";
}

.icon-arrowleft:before {
  content: "\e693";
}

.icon-arrowright:before {
  content: "\e694";
}
