@font-face {
  font-family: "iconfont"; /* Project id 3805249 */
  src: url('//at.alicdn.com/t/c/font_3805249_zu7zfvupa5k.woff2?t=1670746820161') format('woff2'),
       url('//at.alicdn.com/t/c/font_3805249_zu7zfvupa5k.woff?t=1670746820161') format('woff'),
       url('//at.alicdn.com/t/c/font_3805249_zu7zfvupa5k.ttf?t=1670746820161') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiayishou:before {
  content: "\e602";
}

.icon-arrowtop:before {
  content: "\e627";
}

.icon-suijibofang:before {
  content: "\e622";
}

.icon-shangyishou:before {
  content: "\e604";
}

.icon-24gf-playlistMusic4:before {
  content: "\ea86";
}

.icon-long-arrow-bottom:before {
  content: "\e60c";
}

.icon-danquxunhuan:before {
  content: "\e6a2";
}

.icon-bofang-xunhuanbofang:before {
  content: "\e68d";
}

.icon-gengduo:before {
  content: "\e600";
}

.icon-text-lines:before {
  content: "\e69f";
}

.icon-copyright:before {
  content: "\e77e";
}

.icon-close-bold:before {
  content: "\e685";
}

.icon-heart:before {
  content: "\e7df";
}

.icon-pause:before {
  content: "\e66c";
}

.icon-play_fill:before {
  content: "\e717";
}

.icon-play-next:before {
  content: "\e850";
}

.icon-thumbs-down:before {
  content: "\e64b";
}

.icon-playfill:before {
  content: "\e74f";
}

.icon-logout:before {
  content: "\e742";
}

.icon-user-fill:before {
  content: "\e7d5";
}

.icon-phone:before {
  content: "\e611";
}

.icon-email:before {
  content: "\e601";
}

.icon-password:before {
  content: "\e606";
}

.icon-arrowright1:before {
  content: "\e603";
}

.icon-rainbow:before {
  content: "\eceb";
}

.icon-setting-fill:before {
  content: "\e871";
}

.icon-github:before {
  content: "\e673";
}

.icon-log-in:before {
  content: "\e633";
}

.icon-search:before {
  content: "\e82e";
}

.icon-arrowleft:before {
  content: "\e693";
}

.icon-arrowright:before {
  content: "\e694";
}
