@font-face {
  font-family: "iconfont"; /* Project id 3805249 */
  src: url('//at.alicdn.com/t/c/font_3805249_qs147x9q51a.woff2?t=1670333400843') format('woff2'),
       url('//at.alicdn.com/t/c/font_3805249_qs147x9q51a.woff?t=1670333400843') format('woff'),
       url('//at.alicdn.com/t/c/font_3805249_qs147x9q51a.ttf?t=1670333400843') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pause:before {
  content: "\e66c";
}

.icon-play_fill:before {
  content: "\e717";
}

.icon-play-next:before {
  content: "\e850";
}

.icon-thumbs-down:before {
  content: "\e64b";
}

.icon-playfill:before {
  content: "\e74f";
}

.icon-logout:before {
  content: "\e742";
}

.icon-user-fill:before {
  content: "\e7d5";
}

.icon-phone:before {
  content: "\e611";
}

.icon-email:before {
  content: "\e601";
}

.icon-password:before {
  content: "\e606";
}

.icon-arrowright1:before {
  content: "\e603";
}

.icon-rainbow:before {
  content: "\eceb";
}

.icon-setting-fill:before {
  content: "\e871";
}

.icon-github:before {
  content: "\e673";
}

.icon-log-in:before {
  content: "\e633";
}

.icon-search:before {
  content: "\e82e";
}

.icon-arrowleft:before {
  content: "\e693";
}

.icon-arrowright:before {
  content: "\e694";
}
