* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
  scroll-behavior: smooth;
  scrollbar-width: none;
  /* firefox */
  font-family: var(--common_font_family) !important;
}
*::-webkit-scrollbar {
  display: none;
}
body {
  overflow-x: hidden;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
a {
  color: var(--common_text_color);
  text-decoration: none;
}
input {
  border: 0;
  outline: none;
  background-color: transparent;
  font-weight: bolder;
  margin-left: 5px;
  font-size: 16px;
  font-family: var(--common_font_family);
}
input:focus {
  color: var(--common_text_color);
}
button {
  border: 0;
  background-color: transparent;
}
select {
  border: 0;
  appearance: none;
  outline: none;
  text-align: center;
  font-weight: bolder;
}
select option {
  border: 0;
  outline: none;
  padding: 5px;
}
